/Basics Final project.html
/challenge1.html
/Code Pen to VS Code.coffee
/CodePentoSVCode.html.coffee
/Csswithclass.html.txt
/Dn fl My first weather project.zip
/Female-coding.jpg
/form.html
/Homework-1.html
/Hosting
/Hunadi images.jpeg
/Hunadi2images.jpeg
/Hunadi3.jpeg
/Hunadi4.jpeg
/Hunadi5images.jpeg
/index.html
/introductioncss.html
/javascrip challenge 2.html
/javascrip challenge 3.html
/js fumction challenge.html
/js function challenge.html
/js lesson 8 challenge 4.html
/JS Week 2 Lesson 10.html
/js-basics
/My first weather project
/My first weather project - Shortcut.lnk
/notsure_html.code-search
/pen-export-XWQOXjO.zip
/pexels-flourpic.jpg
/Plus
/plus clg1.html
/Solution.html
/somebody.html
/Weather app Basics Week2 Homework.html
/Week two Lesson 10.html
/Week two.html
/Week2 Homework.html